

.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 17px 24px;
}
/* header */
.header{
    weight: 1440px;
    height: 652px;
    background-image: url('../images/Hero-bg.png');
}
.nav-title{
    font-weight: 800;
    font-size: 28px;
}
.btn-primary{
    color: #0D1321;
    font-weight: bold;
    font-size:20px;
    margin: 17px 24px;
    background-color: white;
    border-radius: 8px;
}
img{
    display: block;
    margin: auto;
}
/* banner styles */
.banner-content{
  text-align: center;  
}
.banner{
    text-align: center;
}
.button{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    margin:21px 24px;
    background-color: #0D1321;
    
}


































